  body {
      margin: 0 10%;
      background-color: #e8fbfd;
      font-family: Poppins, sans-serif;
  }

  .block {
      border: 2px;
      border-style: solid;
      border-color: rgba(118, 203, 199, 0.827);
      padding: 10px;
      margin-bottom: 10px;
      background-color: rgba(167, 223, 218, 0.933);

  }
  h2 {
      font-weight: 500;
      font-size: 24px;
  }

  /* Nav Bar + Small animation  */
  #navbar h1 {
      display: block;
      color: white;
      font-style: bold;
      text-align: center;
      font-size: 40px;
      font-family: Raleway, sans-serif;
      margin: 5px;

  }

  #navbar {
      background: rgb(58, 108, 141);
      border-radius: 5px;
  }

  #navbar ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
  }

  #navbar li a {
      text-decoration: none;
      color: white;
      padding-right: 3em;
      position: relative;
      transition: all ease-in-out 200ms;
  }

  #navbar li a::after {
      content: '';
      position: absolute;
      display: block;
      height: 0.4em;
      width: 0%;
      background-color: #1aaef3;
      bottom: 20px;
      transition: all ease-in-out 150ms;
  }

  #navbar a:hover {
      color: #1591ca;
  }

  #navbar li a:hover::after {
      width: 50%;
  }

  /* Colors */

  .color-green {
      background-color: #55a327;
      display: inline-block;
      width: 32%;
      color: white;
      text-align: center;
      margin: 2px 0px;
      border-radius: 25px;

  }

  .color-red {
      background-color: #973129;
      display: inline-block;
      width: 32%;
      color: white;
      text-align: center;
      border-radius: 25px;
  }

  .color-orange {
      background-color: #e4750d;
      display: inline-block;
      width: 32%;
      color: white;
      text-align: center;
      border-radius: 25px;
  }

  .color-black {
      background-color: #141313;
      display: inline-block;
      width: 32%;
      color: white;
      text-align: center;
      border-radius: 25px;

  }

  .color-blue {
      background-color: #134a9c;
      display: inline-block;
      width: 32%;
      color: white;
      text-align: center;
      border-radius: 25px;
  }

  .color-beige {
      background-color: #dac5b7;
      display: inline-block;
      width: 32%;
      color: white;
      text-align: center;
      border-radius: 25px;
  }
  /* Text Styles */
    .subheading {
        border-bottom: 2px solid black;
        padding-left: 5px;
        padding-bottom: 5px;
        width: 14%;
    }

    #h1-style {
        font-family: Raleway, sans-serif;
        font-size: 40px;
    }

  /* Fonts */

  .font-label {
      text-decoration: underline;
      font-size: 110%;

  }

  .font-bold {
      font-weight: 700;
  }

  .font-italic {
      font-style: italic;
  }

  .font-raleway {
      font-family: Raleway, sans-serif;
      width: 33%;
      display: inline-block;
  }

  .font-montserrat {
      font-family: Montserrat, sans-serif;
      width: 33%;
      display: inline-block;
  }

  .font-poppins {
      font-family: Poppins, sans-serif;
      width: 33%;
      display: inline-block;
  }

  /* Buttons */
  
  #btn-submit {
    background-color: rgba(16, 101, 236, 0.945);
    border-radius: 4px;
    border: 2px solid #ffffff;
    padding: 15px 25px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: white;
    margin-right: 25px;
    cursor: pointer;
   
  }
  #btn-reset {
    background-color: rgba(85, 149, 238, 0.945);
    border-radius: 4px;
    border: 2px solid #ffffff;
    padding: 15px 25px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: white;
    margin-right: 25px;
    cursor: pointer;
   
  }
  #btn-disabled {
    background-color: rgba(223, 231, 243, 0.945);
    border-radius: 2px;
    border: 2px solid #ffffff;
    padding: 15px 25px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgb(177, 177, 177);
    margin-right: 25px;
    cursor: not-allowed;
  }
  #btn-animated {
    background-color: rgba(236, 214, 16, 0.945);
    border-radius: 8px;
    border: 2px solid #ffffff;
    padding: 15px 25px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: white;
    margin-right: 25px;
    cursor: pointer;
  }
  #btn-animated:hover {
      background-color: rgba(177, 160, 12, 0.945);
  }
  #btn-animated:active {
        background-color: rgba(177, 160, 12, 0.945);
        box-shadow: 0 5px #666;
        transform: translateY(2px) translateX(2px);
  }